{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 offset-lg-2 offset-md-2">
            <h1>créer un produit</h1>
            <hr>
            {{ form_start(form) }}
            <div class="row">
                {{ form_errors(form) }}
            </div>
            <div class="row">
                <div class="col-12">
                    {{ form_row(form.titre) }}
                </div>
            </div>
            <div class="row text-center">
                <div class="col-4">
                    <h4><span id="label-img-1" class="badge badge-light"></span></h4>
                    <div class="imgWrapper">
                        <img src="{{ asset('img/site/add3.png') }}" class="" alt="#" id="uploaded-img-1">
                    </div>
                </div>
                <div class="col-4">
                    <h4><span id="label-img-2" class="badge badge-light"></span></h4>
                    <div class="imgWrapper">
                        <img src="{{ asset('img/site/add3.png') }}" class="" alt="#" id="uploaded-img-2">
                    </div>
                </div>
                <div class="col-4">
                    <h4><span id="label-img-3" class="badge badge-light"></span></h4>
                    <div class="imgWrapper">
                        <img src="{{ asset('img/site/add3.png') }}" class="" alt="#" id="uploaded-img-3">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    {{ form_row(form.imageFile) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.imageFile2) }}
                </div>
                <div class="col-4">
                    {{ form_row(form.imageFile3) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ form_row(form.description) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ form_row(form.hashtags) }}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ form_row(form.add) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('product/create') }}
{% endblock %}