{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 offset-lg-2 offset-md-2">
            <h1>gérer les messages</h1>
            <div class="row">
                <table class="table table-borderless table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#ID</th>
                        <th scope="col">Date création</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Sujet</th>
                        <th scope="col">Message</th>
                        <th colspan="2" scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for message in messages %}
                        {% if message.isRead %}
                            <tr>
                        {% else %}
                            <tr class="table-secondary">
                        {% endif %}
                            <th scope="row">{{ message.id }}</th>
                            <th scope="row">{{ message.sendedAt|date('d/m/Y') }}</th>
                            <td scope="row">{{ message.nom }}</td>
                            <td scope="row">{{ message.prenom }}</td>
                            <td scope="row">{{ message.sujet }}</td>
                            <td scope="row">{{ message.message|slice(0, 5)|nl2br }}...</td>
                            <td scope="row">
                                <a href="{{ path('admin_message_view', { 'id': message.id }) }}">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </td>
                            <td scope="row">
                                <a href="{{ path('admin_message_remove', { 'id': message.id }) }}">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}